.head-top{
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    font-size: 14px;
    .head-top-left{
        margin: 0;
        letter-spacing: 1px;
    }
    .head-top-right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .head-item{
            border-right: 1px solid #e1e1e1;
            padding-right: 15px;
            margin-right: 15px;
            text-transform: capitalize;
            font-size: 14px;
            &:last-child{
                border-right: none;
            }
            .dropdown-toggle{
                transition: all .3s ease;
                color: black;
                &:hover{
                    color: #f54676;
                }

            }
            .dropdown-menu{
                padding: 5px 0;
                .dropdown-item{
                    color: black;
                    padding: 7.7px 12px;
                    font-size: 14px;
                    transition: all .3s ease;
                    &:hover{
                        color: #f54676;
                        background-color: transparent;
                    }
                }
            }
            .compare,
            .wishlist{
                color: black;
                transition: all .3s ease;
                &:hover{
                    color: #f54676;
                }
            }
        }
    }
}
.head-bottom{
    padding: 30px 0;
    .desktop-nav{
        .nav-bars{
            text-align: center;
            display: block;
            .dropdown{
                &:hover{
                    .dropdown-menu{
                        display: block;
                        visibility: visible;
                        opacity: 1;
                        transform: scale(1, 1);
                    }
                }
            }
            .m-menu{
                display: inline-block;
                .nav-links{
                    display: block;
                    text-transform: uppercase;
                    font-size: 14px;
                    letter-spacing: .4px;
                    font-weight: 400;
                    padding: 0;
                    margin: 0 22px;
                    position: relative;
                    color: #000;
                    background-color: transparent;
                    &:hover{
                        &::before{
                            width: 30%;
                        }
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -5px;
                        text-align: center;
                        width: 0;
                        border-bottom: 2px solid #f54676;
                        transform: translateX(0);
                        transition: all 500ms ease 0s;
                    }
                }
                .dropdown-menu{
                    min-width: 160px;
                    margin-top: 5px;
                    position: fixed;
                    background: #fff;
                    visibility: hidden;
                    display: block;
                    opacity: 0;
                    transition: all 0.35s ease-out 0s;
                    border-radius: 10px;
                    border: none;
                    border-bottom: 2px solid #f54676;
                    .dropdown-inner{
                        .list-unstyled{
                            .dropdown-submenu{
                                padding: 15px;
                                .submenu-title{
                                    font-weight: 400;
                                    padding: 0;
                                    color: #000;
                                    font-size: 15px;
                                }
                                .list-unstyled{
                                    margin-top: 10px;
                                    li{
                                        a{
                                            color: #000;
                                            display: block;
                                            padding: 3px 0px;
                                            font-size: 14px;
                                            clear: both;
                                            line-height: 23px;
                                            text-transform: capitalize;
                                            letter-spacing: 0.5px;
                                            font-weight: 300;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .top-links{
        display: flex;
        align-items: center;
        .links-item{
            margin-right: 12px;
            &:last-child{
                margin-right: 0;
            }
            .d-search{
                .search-toggle{
                    font-size: 20px;
                    svg{}
                }
            }
            .wbSearch{
                z-index: 99;
                position: fixed;
                top: 0;
                right: 0;
                display: flex;
                background-color: rgba(0,0,0,.7);
                opacity: 0;
                transition: all 0.3s ease-in-out;
                transform: translateY(-100%);
                align-items: center;
                justify-content: center;
                width: 100%;
                padding: 30px;
                #search_block_top{
                    position: relative;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    max-width: 1000px;
                    select{
                        float: left;
                        width: 200px;
                        border: none;
                        height: 40px;
                        padding: 10px;
                        background: #fff url("/assets/img/More/arrow.png");
                        background-position: right bottom 4px;
                        background-repeat: no-repeat;
                        appearance: none;
                        border-radius: 5px 0 0 5px;
                        cursor: pointer;
                        outline: none;
                        option{
                            font-weight: normal;
                            display: block;
                            white-space: nowrap;
                            min-height: 1.2em;
                            padding: 0px 2px 1px;
                            outline: none;
                        }
                    }
                    .input-group{
                        position: unset;
                        display: contents;
                        align-items: center;
                        input{
                            width: 100%;
                            height: 40px;
                            padding: 0 10px 0 20px;
                            border: none;
                            font-size: 14px;
                            border-radius: 0;
                            background-color: #fff;
                        }
                        .input-group-btn{
                            display: flex;
                            align-items: center;
                            button{
                                height: 40px;
                                background-color: #f54676;
                                color: #fff;
                                fill: #fff;
                                border-radius: 0 5px 5px 0;
                                padding: 10px 30px;
                                position: relative;
                                text-transform: capitalize;
                                -webkit-margin-start: -1px;
                                transition: all 0.3s ease-in-out;
                                &:hover{
                                    background-color: #383e47;
                                }
                                svg{
                                    height: 18px;
                                    width: 18px;
                                    fill: #fff;
                                }
                            }
                            a{
                                color: #000;
                                transition: 0.3s ease;
                                svg{
                                    margin-left: 15px;
                                    display: inline-block;
                                    color: #fff;
                                    font-size: 18px;
                                    position: relative;
                                    top: 5px;
                                }
                            }
                        }
                    }
                }
            }
            .active-search{
                opacity: 1;
                transform: translateY(0);
            }
            .account-drop{
                .dropdown-toggle{
                    font-size: 20px;
                    &::after{
                        display: none;
                    }
                }
                .dropdown-menu{
                    padding: 15px;
                    width: 290px;
                    border: none;
                    border-radius: 5px;
                    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
                    h5{
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                    h6{
                        margin-top: 10px;
                        margin-bottom: 10px;
                        font-size: 12px;
                        color: #777;
                    }
                    li{
                        text-align: center;
                        a{
                            display: block;
                            border: 1px solid #eee;
                            border-radius: 5px;
                            padding: 7px 0;
                            margin-top: 10px;
                            // width: 47%;
                            text-align: center;
                            margin-left: 2px;
                            margin-right: 2px;
                            &:hover{
                                background-color: transparent;
                                color: #f54676;
                            }
                            svg{
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
            .small-cart{
                .cart-carts{
                    display: flex;
                    align-items: center;
                    svg{
                        padding: 10px;
                        font-size: 20px;
                        color: #fff;
                        fill: #fff;
                        background-color: #4ab9f0;
                        border-radius: 50%;
                        align-items: center;
                        display: grid;
                        justify-items: center;
                        float: left;
                        margin-right: 5px;
                    }
                    span{
                        color: #fff;
                        font-size: 14px;
                        margin-bottom: 0;
                        margin-left: 5px;
                        font-weight: 400;
                        letter-spacing: 1px;
                    }
                }
            }
            .menu-bars{
                font-size: 20px;
                svg{}
            }
        }
    }
}
.sticky {
    padding: 20px 0;
    position: fixed;
    top: 0;
    background: #fff;
    width: 100%;
    z-index: 70;
    box-shadow: 0 0 8px 0 rgb(17 35 56 / 18%);
    animation-name: fadeInDown;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0,-100%,0)
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0)
    }
}


.menu{
    .menu-head{
        border-bottom: 1px solid #eeeeee;
        h5{
            font-size: 22px;
            padding: 11px 15px;
            margin-bottom: 0;
        }
        button{
            outline: none;
            box-shadow: none;
        }
    }
    .offcanvas-body{
        .accordion{
            .accordion-button:not(.collapsed){
                color: inherit;
                background-color: inherit;
            }
            .accordion-item{
                border-top: 1px solid #eee;
                border-right: none;
                border-left: none;
                border-bottom: none;
                &:first-child{
                    border-top: none;
                }
                .accordion-header{
                    margin: 0;
                    button{
                        position: relative;
                        padding: 15px;
                        border-top: 1px solid #eeeeee;
                        font-size: 16px;
                        letter-spacing: 0;
                        font-weight: 600;
                        text-transform: capitalize;
                        border: none;
                        box-shadow: none;
                        border-radius: 0%;
                    }
                }
            }
        }
        .contact-me{
            a{
                display: block;
                position: relative;
                padding: 15px;
                border-top: 1px solid #eeeeee;
                font-size: 16px;
                letter-spacing: 0;
                font-weight: 600;
                text-transform: capitalize;
            }
        }
    }
    .accordion-body{
        display: block;
        padding: 8px 25px;
        .submenu-title{
            font-weight: 400;
            padding: 0;
            margin-bottom: 10px;
            font-size: 16px;
            text-transform: uppercase;
            color: #000;
        }
        .grand-child{
            li{
                a{ 
                    padding: 0;
                    line-height: 25px;
                    font-size: 14px;
                    font-weight: 300;
                    color: #000;
                    text-transform: capitalize;
                }
            }
        }
    }
}

// Cart Small Start
.cart{
    max-width: calc(100% - 44px);
    z-index: 999;
    padding: 10px;
    .menu-head{
        background: #fff;
        justify-content: end;
        button{
            margin-right: 5px;
            box-shadow: none;
        }
    }
    .offcanvas-body{
        padding: 0 10px;
        overflow: inherit;
        .head-titllee{
            padding: 18px 0 20px 0;
            border-bottom: 1px solid #D1D1D6;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 25px;
            color: #13322B;
            margin-bottom: 8px;
        }
        .scol{
            height: calc(100vh - 340px);
            overflow-y: auto;
            .navbar-nav{
                .nav-item{
                    margin-top: 10px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #D1D1D6;
                    display: flex;
                    align-items: center;
                    .cart-img{
                       a{
                        display: block;
                        img{
                            max-width: 60px;
                            padding: 0;
                            border: 1px solid #eee;
                            border-radius: 5px;
                           } 
                       }
                    }
                    .cart-content{
                        padding: 0 0 10px 15px;
                        width: calc(100% - 60px);
                        h6{
                            a{
                                font-weight: 500;
                                color: #000;
                                font-size: 14px;
                                white-space: nowrap;
                                display: block;
                                &:hover{
                                    color: #f54676;
                                }
                            }
                        }
                        .price{
                            font-size: 13px;
                            color: #383e47;
                        }
                    }
                }
            }
            
        }
        
    }
    .foot{
        width: 100%;
        display: grid;
        flex-direction: column;
        .sum{
            // text-align: end;
            border-bottom: 1px solid #eee;
            border-top: 1px solid #eee;
            width: 100%;
            p{
                padding-bottom: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                margin-top: 10px;
                font-size: 13px;
                font-weight: 500;
                border-bottom: 1px solid #eee;
                &:last-child{
                    border-bottom: none;
                    padding-bottom: 0;
                }
                span{
                    // margin-left: 10px;
                }
            }
        }
        .click-btn{
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .checkout{
                background-color: #f54676;
                color: #fff;
                fill: #fff;
                border: none;
                text-transform: uppercase;
                transition: .5s ease;
                font-size: 14px;
                padding: 7.7px 12px;
                border-radius: 5px;
                &:hover{
                    background-color: #000;
                }
            }
            .viewcart{
                background-color: #f54676;
                color: #fff;
                fill: #fff;
                border: none;
                text-transform: uppercase;
                transition: .5s ease;
                font-size: 14px;
                padding: 7.7px 12px;
                border-radius: 5px;
                &:hover{
                    background-color: #000;
                }
            }
        }
    }
}
// Cart Small End

//view-modal start
.view-modal{
    .modal-dialog{
        max-width: 900px;
        .modal-content{
        }
        .modal-header{
            justify-content: end;
            button{
                svg{
                    font-size: 20px;
                }
            }
        }
        .modal-body{
            .left{
                img{
                }
            }
            .right{
                .sub-name{
                    font-size: 20px;
                    text-transform: capitalize;
                    margin-top: 0;
                    font-weight: 400;
                    margin-bottom: 10px;
                }                
            }
        }
        .list-uns{
            li{
                span{
                    text-transform: capitalize;
                    font-size: 14px;
                    letter-spacing: 1px;
                    min-width: 150px;
                    display: inline-block;
                    line-height: 25px;
                }
            }
        }
        .price{
            .old-price{
                font-size: 14px;
                color: #000;
                text-decoration: line-through;
                margin-right: 10px;
            }
            .new-price{
                font-weight: 400;
                font-size: 22px;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        .product{
            .aviable-title{
                font-size: 18px;
                font-weight: 400;
                margin-top: 20px;
                margin-bottom: 10px;
            }
            .form-group{
                margin-bottom: 15px;
                label{
                    font-size: 13px;
                    font-weight: normal;
                    display: inline-block;
                    max-width: 100%;
                    margin-bottom: 5px;
                    &::before{
                        content: '* ';
                        color: #F00;
                        font-weight: bold;
                    }
                }
                select{
                    display: block;
                    width: 100%;
                    height: 34px;
                    padding: 6px 12px;
                    font-size: 14px;
                    line-height: 1.42857143;
                    color: #555;
                    background-color: #fff;
                    background-image: none;
                    box-shadow: none;
                    border: 1px solid #eee;
                    border-radius: 5px;
                    option{}
                }
            }
            .quick-foot{
                .qty{
                    display: flex;
                    align-items: center;
                    span{
                        text-transform: capitalize;
                        font-size: 14px;
                        letter-spacing: 0;
                    }
                    .input-group{
                        margin-left: 30px;
                        .input-group-btn{
                            button{
                                width: 45px;
                                text-align: center;
                                border: 1px solid #eee;
                                svg{}
                            }
                            .qtyminus{
                                border-radius: 5px 0 0 5px;
                            }
                            .qtyplus{
                                border-radius: 0 5px 5px 0;
                            }
                        }
                        .input-number{
                            width: 45px;
                            text-align: center;
                            flex: inherit;
                            border: 1px solid #eee;
                        }
                    }
                }
                .btnsr{
                    display: flex;
                    align-items: center;
                    button{
                        min-height: 35px;
                        margin-top: 0;
                        margin-right: 5px;
                        font-size: 14px;
                        padding: 7.7px 12px;
                        svg{
                            width: 18px;
                            height: 17px;
                            fill: #fff;
                        }
                    }
                }
            }
        }
    }
}
.filter{
    .btn-close{
        outline: none;
        box-shadow: none;
    }
    .category-sidebar{
        margin-bottom: 20px;
        h5{
            font-size: 14px;
            color: #000;
            font-weight: 500;
            background-color: #f7f7f7;
            border: none;
            text-transform: uppercase;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            padding: 10px 15px;
            margin: 0;
        }
        .category-sidebar-list{
            li{
                a{
                    display: block;
                    border: 1px solid #eee;
                    padding: 12px 12px;
                    text-transform: capitalize;
                    font-weight: 400;
                    border-radius: 0;
                    color: #555;
                    &:hover{
                        color: #f54676;
                    }
                }
                .active{
                    color: #f54676;
                }
            }
        }
    }
    .catfilter{
        margin-bottom: 20px;
        .panel-head{
            .filtr-title{
                font-size: 14px;
                color: #000;
                font-weight: 500;
                background-color: #f7f7f7;
                border: none;
                text-transform: uppercase;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                padding: 10px 15px;
                margin-bottom: 0;
            }
            .filter-large{}
        }
    }
    .color,
    .size{
        h6{
            font-size: 14px;
            color: #555;
            border: 1px solid #eee;
            padding: 12px 12px;
            text-transform: capitalize;
            font-weight: 400;
            margin-bottom: 0;
        }
        .check{
            display: block;
            padding: 10px 15px;
            margin-bottom: -1px;
            background-color: #fff;
            border: 1px solid #eee;
            border-radius: 0;
            .input{}
            label{
                padding-left: 5px;
                margin-bottom: 0;
                font-weight: 400;
                cursor: pointer;
                font-size: 14px;
            }
        }
    }
    .refinebtn{
        border-top-width: 0;
        padding: 10px 15px;
        background-color: #fff;
        text-align: end;
        border: 1px solid #eee;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        button{
            margin: 0;
        }
    }
}
.offcanvas-backdrop{
    z-index: 200;
}
@media screen and (max-width: 991px){
    .head-bottom .top-links .links-item .small-cart .cart-carts svg{
        color: #000;
        background-color: transparent;
    }
    .martb .services .list-unstyled{
        border: 1px solid #eee;
    }
    .martb .services .list-unstyled li h4{
        font-size: 14px;
    }
}

@media (max-width: 575px){}
@media (max-width: 575px) and (min-width:368px) {}
@media (max-width: 368px){}
@media (max-width: 767.98px) and (min-width: 575px) {}
@media (max-width: 767.98px) {}
@media (min-width: 991.98px) {}
@media (max-width: 991.98px) {}
@media (max-width: 767px){}
@media (max-width: 991.98px) and (min-width: 767px) {}